.center-add-round {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Oswald", serif;
}

.add-round-title {
  color: black;
  font-size: 2rem;
}

.custom-select {
  height: 30px;
  border-radius: 0.50rem;
  width: 40%;
  font-size: 1.15rem;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  width:40%
}



.add-round-input {

  padding: 5px;
  border-color: rgb(255, 255, 255);
  border: 1px solid #caced1;
  border-radius: 0.50rem;
  height: 15px;
  text-align: center;
}

input.round-info {
  width: 10%;
  margin: 5px;
}

input.date {
  width: 25%;
  margin: 5px;
}

.holes {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  width: 50%;
  overflow-y: visible;
  flex-wrap: wrap;
}

.hole {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  flex-wrap: wrap;
}

.save-button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 20px;
}

.error {
  background-color: transparent;
  color: red;
  font-size: large;
  margin-top: 20px;
}

.switch-round {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
}



.dashboard {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: x-large;

}

.add-round-form {
  width: 75%;
}