@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.dashboard-home{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Oswald", serif;
}

.button-container{
    text-align: center;
    margin-bottom: 50px;
}

.buttons{
    margin:auto;
    margin: 5px 5px;
    background-color: white;
    color: black;
}

.center-user-stats{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", serif;
    flex-direction: column;
   }

   table.course-table {
    width: 75%;
    margin-bottom: 5px;
    margin-top:15px;
  }

  table.hole-table{
    width:100%
  }

  p.no-data{
    font-size:x-large;
    text-align: center;
  }

  p.insights{
    font-size: x-large;
    width: 50%;
    text-align: center;
  }

