@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.manage-header{
    font-size: xx-large;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Oswald", serif;
}

.table-container{
  width:100%;
}

.button{
    margin-top:3px; 
    margin-left: 3px;
    background-color: white;
    color: black;
    padding:5px;
}

.center-user-courses{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Oswald", serif;
  
}

  table.course-table {
    width: 60%;
    margin-bottom: 5px;
    margin-top:15px;
    
  }

  table.hole-table{
    width:100%
  }

  th {
    height: 50px;
    font-size: large;
  }

  td {
    padding:50px;
    font-size: large;
    }

    th, td {
      padding: 5px;
      text-align: center;
      
    }

.delete-button{
  background-color: rgb(248, 29, 29);
  margin-bottom: 15px;
  display: block;
  padding: 7px;
}

.dashboard{
  background-color:transparent;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: x-large;
  
}

input.search-box{
  display:block;
  width:40%;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 5px;
  border-color: rgb(255, 255, 255);
  border: 1px solid #caced1;
  border-radius: 0.50rem;
  height: 15px;
}








   