h1{
    font-size: xx-large;
    text-align: center;
    color: white;
}

.course-row{
    display:flex;
    text-align: center;
}

.button{
    margin-top:3px; 
    margin-left: 3px;
    background-color: white;
    color: black;
    padding:5px;
}

.container {
    display: flex;
    padding: 10px;
    align-items: center;
    padding-top: 0px;
    margin: 0 auto;
    width: 100vw;
    }

  table.course-table {
    width: 100%;
    margin-bottom: 5px;
    margin-top:15px;
  }

  table.hole-table{
    width:100%
  }

  th {
    height: 50px;
    font-size: large;
  }

  td {
    padding:50px;
    font-size: large;
    }

    th, td {
      padding: 5px;
      text-align: center;
      
    }

.delete-button{
  background-color: rgb(248, 29, 29);
  margin: 0 auto;
  display: block;
  padding: 7px;
}

.dashboard{
  background-color:transparent;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: x-large;
  
}

.table-container{
  width: 50%;
}






   