.modal{
    width: 300px;
    height: fit-content;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
    
}

.center-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    z-index: 5;
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

.modal-description {
    /* font-weight:500; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
}

.modal-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal-button {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 5px;
}

.modal-delete {
    background-color: rgb(255, 69, 62);
    color: white;
  }
  
.modal-delete:hover {
    background-color: rgb(255, 8, 0);
}
  
.modal-cancel {
    background-color: #ddd;
}
  
.modal-cancel:hover {
    background-color: rgb(197, 197, 197);
  }



