
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
  }
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.3s ease;
  }
  
  .pagination li a:hover {
    background-color: #000000;
    color: white;
  }
  
  .pagination li.active a {
    background-color: #000000;
    color: white;
    border-color: #000000;
  }

