.switch-course{
    background-color:transparent;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: large;
}

.dashboard{
    background-color:transparent;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: x-large;
    
}

.container {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    align-items: center;
    padding-top: 0px;
    overflow-y: scroll;
    margin: 0 auto;
    width: 100vw;
    scroll-behavior: smooth;
    
  }

  
  .center {
    text-align: center;
    overflow-y: visible;
    
    justify-content: center;
  }
  
  .input {
    margin: 5px auto; 
    padding: 8px; 
    border-radius: 7px;
    border-color: white;
  }
  
  .input.name {
    width: 500px; 
    max-width: 500px; 
  }
  
  .input.rating {
    width: 250px; 
}

input.location {
  width:500px;
}
  
  label {
    display: block; 
    text-align: center; 
    margin-bottom: 5px; 
  }

  h3 {
    display: block; 
    text-align: center; 
    margin-bottom: 3px;
  }
  
  .holes {
    display: flex; 
    gap: 30px; 
    justify-content: center; 
    margin-top: 20px;
    width: 100%;
    overflow-y: visible;
    flex-wrap:wrap;
  }

  .hole {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    max-width: 90%; 
    flex-wrap: wrap;
  }

  .error{
    background-color: transparent;
    color: red;
    font-size: large;
    margin-top: 20px;
  }

  .saved-message{
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    font-size: large;
  }

  .save-button{
    background-color:white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 20px;
  }
