.container {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    align-items: center;
    padding-top: 0px;
    overflow-y: scroll;
    margin: 0 auto;
    width: 100vw;
    scroll-behavior: smooth;
    
  }

  .center {
    text-align: center;
    overflow-y: visible;
    justify-content: center;
  }

  .pick-course{
    margin-top: 15px;
  }

  .custom-select {
    min-width: 450px;
    height: 25px;
  }
  
  .custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.50rem;
    color: #000;
    cursor: pointer;
    
  }

  .input {
    margin: 5px auto; 
    padding: 5px; 
    border-radius: 7px;
    border-color: white;
  }

  .input.round-info{
    width:auto;
  }


  label {
    display: block; 
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 10px; 
  }

  h1{
    font-size:xx-large;
  }

  .holes {
    display: flex; 
    gap: 30px; 
    justify-content: center; 
    margin-top: 20px;
    width: 100%;
    overflow-y: visible;
    flex-wrap:wrap;
  }

  .hole {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    max-width: 90%; 
    flex-wrap: wrap;
  }

  .save-button{
    background-color:white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 20px;
  }


  h3 {
    display: block; 
    text-align: center; 
    margin-bottom: 3px;
  }