

.center{
  text-align: center;
}


.input{
  width: 100%;
  padding:5px 20px;
  margin: 5px 0px;
  box-sizing:border-box;
}

.button{
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}

.error{
  background-color: transparent;
  color: red;
}


.container {
  display:flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;    /* Vertical centering */
  height: 100vh;          /* Full viewport height */
  
}


