h1{
    font-size: xx-large;
    text-align: center;
    color: white;
}

.course-row{
    display:flex;
    text-align: center;
}

.button{
    margin-top:3px; 
    margin-left: 3px;
    background-color: white;
    color: black;
    padding:5px;
}

.container {
    display: flex;
    padding: 10px;
    overflow-x: auto;
    align-items: center;
    padding-top: 0px;
    overflow-y: scroll;
    margin: 0 auto;
    width: 100vw;
    scroll-behavior: smooth;
    
  }

  table {
    width: 50%;
    margin-bottom: 20px;
  }

  th {
    height: 50px;
  }

  td {
    text-align: center;
    }

    th, td {
      padding: 10px;
      text-align: center;
      
    }

.delete-button{
  background-color: red;
}


   